@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face {
    font-family: blisspro; /* Имя шрифта */
    src: url(../fonts/blisspro-light.otf); /* Путь к файлу со шрифтом */
}
$green : #36c427;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.btn-green{
	background: $green;
	border-radius: 50px ;
	width: 290px;
	text-align: center;
	padding: 10px 0px;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 35px 0;
	box-shadow: 0 0 20px 9px #36c4277d;
}
.row{
	max-width: 1600px;
	margin: auto;
}
#header{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background: url('../img/header.png')0 0 no-repeat;
	background-size: cover; 
}
#header .tel_top{
	display: flex;
	min-height: 100px;
	align-items: center;
	justify-content: flex-end;

}
#header .tel_top .tel{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 18px;
}
#header .tel_top span{
	font-size: 16px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-right: 5px;
}
 #header .tel_top p{
	font-size: 12px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
 }


#header .tel_top span:before{
	content: "";
	background: url("../img/phone.png")0 0 no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;	
}
#header .header_center{
	padding-top: 50px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;

}
#header .header_center #logo{
	width: 181px;
	height: 151px;
}
#header .text_in_header_top{
	margin-top: 50px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}
#header .text_in_header_top span{
color: $green;
}

#header .text_in_header_bottom{
	margin-top: 25px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 300;
}
#header #alldays{
	color: #fff;
	position: relative;
	margin-top: 21px;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
#header #alldays:before{
    content: "";
    background: url(../img/arr-top.png) 0 0 no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -20px;
   left: 44%;

}

#header .mou{
	background: url('../img/mou.png')0 center no-repeat;
	background-size: contain;
	width: 28px;
	height: 120px;
	position: absolute;
	bottom: 0;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
	#header .tel_top{
		flex-flow: column;
		text-align: center;
	}
	#header .tel_top .tel:last-child{
		margin-left: -20px;
		margin-top: 15px;
	}
	#header .header_center #logo {
    width: 133px;
    height: 105px;
	}
	#header .text_in_header_top{
		margin-top: 40px;
		font-size: 13px;
	}
	#header .text_in_header_bottom{
	    margin-top: 18px;
        font-size: 22px;
        text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#header .tel_top .tel{
		flex-flow: column;
		margin-top: 12px;
	}
	#header .tel_top .tel:last-child{
		margin-left: 6px;
		margin-top: 8px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}



/*==========  Mobile First height  ==========*/

@media only screen and (max-height: 770px) {
#header .mou{
	background: none;
	height: 50px;
	width: 1px;
	background: #676768;
}
}
@media only screen and (max-height: 690px){
	#header .mou{
		position: relative;
		margin-top: 15px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}